# Manipulação de Dados com Pandas - Python

In [1]:
import pandas as pd
import numpy as np

In [2]:
series = ([7,4,2,np.nan,6,9])
series

[7, 4, 2, nan, 6, 9]

In [3]:
type(series)

list

In [4]:
# obtendo datas

data = pd.date_range('20180101', periods = 6)

In [5]:
data

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
# criando um dataframe com números aleatórios e usando as datas criadas anteiormente

df = pd.DataFrame(np.random.randn(6,4), index = data, columns = list('ABCD'))

# randn(6,4), ou seja, chamamos 6 linnhas e 4 colunas com números random, colocando como index a data que criamos anteriormente

In [8]:
df

                   A         B         C         D
2018-01-01 -1.083591 -0.849522  0.439021 -1.771952
2018-01-02  0.722090  0.645839  0.602345 -0.248874
2018-01-03 -0.505782  0.189015  0.014541 -0.841502
2018-01-04  0.950462  0.365604 -0.930167  0.470656
2018-01-05 -0.263711  0.208123 -0.258834 -0.161585
2018-01-06  0.488903 -1.009880  2.079230 -0.484692

In [10]:
# vendo o tipo

type(df)

pandas.core.frame.DataFrame

In [11]:
#outra forma de criar um dataframe

df2 = pd.DataFrame({'A': 7,
                   'B': pd.Timestamp('20190101'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([3] * 4, dtype='int32'),
                   'E': pd.Categorical(['test', 'train', 'test', 'train']),
                   'F': 'Python'})

In [12]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Criando um Terceiro DataFrame

In [18]:
data = pd.date_range('20190101', periods = 60, freq='D')

df = pd.DataFrame(np.random.randn(60,5), index = data, columns = list('ABCDE'))

In [19]:
df

                   A         B         C         D         E
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241
2019-01-11  0.421773 -0.996865 -0.216583  0.276499  0.517859
2019-01-12 -1.326881 -0.689318 -0.985141  1.725915 -2.171507
2019-01-13  0.730684  0.385290  1.428869  1.406253  1.055421
2019-01-14  0.217166 -1.126701 -1.638837 -1.448797 -1.071401
2019-01-15  0.625569  0.375817 -1.898931 -0.131348  1.234974
2019-01-16 -0.876467  0.514731 -0.117962  0.002141 -0.331372
2019-01-17  1.232721 -0.642777  0.007149 -0.177390 -1.606766
2019-01-18  0.006981  1.317063 -1.056490  0.955877  0.601103
2019-01-19 -0.388965 -0.873431  0.210814 -0.150696 -0.249674
2019-01-20 -0.549506 -0.659286 -0.783673 -2.298142  1.320854
2019-01-21  0.962642  0.851286 -0.358383  1.242065  1.010470
2019-01-22  0.994673  0.183833 -1.519298  1.412612  1.368499
2019-01-23  0.748375 -0.657939 -0.596887 -1.693234  0.716710
2019-01-24  0.293816 -1.224005 -0.937398  0.776830 -2.067630
2019-01-25  0.336789  1.441979 -0.357582 -0.960589  0.055507
2019-01-26 -0.558418  0.350762  0.055899 -0.283082  0.312125
2019-01-27  1.077791  1.137758  1.596263 -1.268478 -0.240811
2019-01-28 -1.080533  2.108604 -0.460982 -0.174634 -0.115833
2019-01-29 -0.255924  0.434557  0.001176 -3.103537  0.230057
2019-01-30 -1.255547  0.247107  0.666568  0.126176  0.098631
2019-01-31  1.227866 -1.307084 -1.076649  2.161853  1.795888
2019-02-01 -2.775027  0.772586  0.344084  0.196345 -1.018969
2019-02-02 -0.040350 -2.247582 -0.371993  0.087275 -1.795759
2019-02-03 -1.357344  0.189334  0.150370  0.150665  0.261024
2019-02-04 -0.208846 -0.602902 -1.679046 -0.167406 -0.314981
2019-02-05 -1.249288  0.615790  0.270752 -2.274886  1.164464
2019-02-06  0.588713 -0.081946 -0.215741  0.561016  1.492238
2019-02-07 -1.469995  1.445213 -0.889885  0.254023  0.801797
2019-02-08 -0.868497  0.634580 -0.921904 -0.581550  1.380646
2019-02-09  1.022054 -0.160156  0.107591 -0.066518 -0.306720
2019-02-10 -0.450009  0.351947  0.226611  0.368396 -0.338278
2019-02-11 -0.396573  0.121780 -0.596355  1.075606  0.172745
2019-02-12  0.005640  0.500346  1.542720  0.178613  0.622311
2019-02-13  0.377056 -0.273439 -1.546881  0.981561 -0.205704
2019-02-14  0.361558  1.145904 -0.747627 -0.594771 -1.930396
2019-02-15 -0.371900 -1.196789 -1.230076  0.194417 -0.277739
2019-02-16 -0.973623 -0.148386  1.721349 -0.424076  0.504325
2019-02-17  0.400508  1.157833 -1.816934  0.422558 -2.407377
2019-02-18  0.376267  0.426917 -0.531938 -1.343720 -0.203690
2019-02-19 -0.098098  1.248563 -0.127344 -0.826241  1.628357
2019-02-20 -0.104012  0.563192 -0.276563 -2.596532  0.148667
2019-02-21 -0.444725 -0.255854 -0.566205 -1.834050 -1.190525
2019-02-22  1.019039 -0.775222  0.606500  0.081105 -0.293647
2019-02-23  0.031520  1.760072 -0.242010  0.480712  0.737353
2019-02-24 -0.708232 -0.325284  1.046064  1.397138  0.806718
2019-02-25 -0.136171  1.124502  0.334121 -0.476751  0.610292
2019-02-26  0.640434  1.133563  1.593090 -0.585275 -0.765074
2019-02-27  0.632602 -0.574251  1.547414 -0.601216  0.209687
2019-02-28  0.348968  0.580816 -0.283067 -0.339407  1.387002
2019-03-01  0.000335  1.027228  1.017993 -1.885010  0.916150

In [20]:
# vendo a dimensão do dataframe

df.shape

(60, 5)

## Inserindo uma Nova Coluna

In [21]:
df['F'] = 1

In [22]:
df.head(10)

                   A         B         C         D         E  F
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734  1
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622  1
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748  1
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943  1
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355  1
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580  1
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317  1
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738  1
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924  1
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241  1

In [23]:
# inserindo uma coluna com os valores seguindo uma sequência

df['G'] = range(60)

In [24]:
df.head(15)

                   A         B         C         D         E  F   G
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734  1   0
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622  1   1
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748  1   2
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943  1   3
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355  1   4
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580  1   5
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317  1   6
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738  1   7
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924  1   8
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241  1   9
2019-01-11  0.421773 -0.996865 -0.216583  0.276499  0.517859  1  10
2019-01-12 -1.326881 -0.689318 -0.985141  1.725915 -2.171507  1  11
2019-01-13  0.730684  0.385290  1.428869  1.406253  1.055421  1  12
2019-01-14  0.217166 -1.126701 -1.638837 -1.448797 -1.071401  1  13
2019-01-15  0.625569  0.375817 -1.898931 -0.131348  1.234974  1  14

In [25]:
# criando uma coluna 'produto'

df['Produto'] = df['A'] * df['B']

In [26]:
df.head(10)

                   A         B         C         D         E  F  G   Produto
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734  1  0  2.194007
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622  1  1  0.223822
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748  1  2  1.363062
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943  1  3 -0.048734
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355  1  4 -0.244597
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580  1  5 -0.803707
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317  1  6 -1.017881
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738  1  7 -0.170539
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924  1  8 -0.280300
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241  1  9 -0.621223

In [27]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Produto'], dtype='object')

In [32]:
# escolhendo apenas os dados, sem o index

df.to_numpy()

array([[ 1.27937850e+00,  1.71490091e+00, -2.74828024e+00,
         5.63366160e-01, -7.81733676e-01,  1.00000000e+00,
         0.00000000e+00,  2.19400734e+00],
       [-1.92384133e+00, -1.16341373e-01, -7.53044777e-01,
         9.21398988e-01, -6.85621708e-01,  1.00000000e+00,
         1.00000000e+00,  2.23822341e-01],
       [ 8.19104695e-01,  1.66408732e+00,  7.68960493e-01,
         1.25687351e+00,  1.97748159e-01,  1.00000000e+00,
         2.00000000e+00,  1.36306174e+00],
       [ 9.27871624e-02, -5.25227343e-01,  2.44182834e-01,
         1.97056394e+00,  9.38942926e-01,  1.00000000e+00,
         3.00000000e+00, -4.87343548e-02],
       [ 3.41919122e-01, -7.15365044e-01,  1.36334435e+00,
         1.44702201e+00,  1.21535514e+00,  1.00000000e+00,
         4.00000000e+00, -2.44596988e-01],
       [ 1.22949011e+00, -6.53691296e-01, -1.67151414e+00,
         3.40238037e-01,  9.81580253e-01,  1.00000000e+00,
         5.00000000e+00, -8.03706981e-01],
       [-6.32820606e-01,  1.60848211e+00, -6.48588231e-01,
         1.19091407e+00,  2.40317240e-01,  1.00000000e+00,
         6.00000000e+00, -1.01788062e+00],
       [-1.91600532e+00,  8.90074557e-02,  1.03516138e+00,
         1.11719360e+00,  3.67737562e-01,  1.00000000e+00,
         7.00000000e+00, -1.70538759e-01],
       [ 1.96397288e-01, -1.42720828e+00, -1.96196697e-01,
        -1.89182215e+00,  4.93923904e-01,  1.00000000e+00,
         8.00000000e+00, -2.80299835e-01],
       [ 9.37249336e-01, -6.62815463e-01, -1.23165872e+00,
        -1.10965622e+00,  4.75240744e-01,  1.00000000e+00,
         9.00000000e+00, -6.21223352e-01],
       [ 4.21773392e-01, -9.96865099e-01, -2.16583095e-01,
         2.76498713e-01,  5.17859007e-01,  1.00000000e+00,
         1.00000000e+01, -4.20451174e-01],
       [-1.32688126e+00, -6.89318426e-01, -9.85141037e-01,
         1.72591478e+00, -2.17150670e+00,  1.00000000e+00,
         1.10000000e+01,  9.14643701e-01],
       [ 7.30683866e-01,  3.85289555e-01,  1.42886917e+00,
         1.40625333e+00,  1.05542093e+00,  1.00000000e+00,
         1.20000000e+01,  2.81524861e-01],
       [ 2.17166019e-01, -1.12670147e+00, -1.63883706e+00,
        -1.44879738e+00, -1.07140137e+00,  1.00000000e+00,
         1.30000000e+01, -2.44681273e-01],
       [ 6.25568835e-01,  3.75817211e-01, -1.89893090e+00,
        -1.31347650e-01,  1.23497404e+00,  1.00000000e+00,
         1.40000000e+01,  2.35099535e-01],
       [-8.76467007e-01,  5.14730886e-01, -1.17961503e-01,
         2.14072024e-03, -3.31371837e-01,  1.00000000e+00,
         1.50000000e+01, -4.51144639e-01],
       [ 1.23272134e+00, -6.42776997e-01,  7.14930243e-03,
        -1.77390222e-01, -1.60676614e+00,  1.00000000e+00,
         1.60000000e+01, -7.92364924e-01],
       [ 6.98102022e-03,  1.31706317e+00, -1.05649014e+00,
         9.55876507e-01,  6.01103291e-01,  1.00000000e+00,
         1.70000000e+01,  9.19444466e-03],
       [-3.88965404e-01, -8.73430830e-01,  2.10813987e-01,
        -1.50696031e-01, -2.49674355e-01,  1.00000000e+00,
         1.80000000e+01,  3.39734376e-01],
       [-5.49505613e-01, -6.59285837e-01, -7.83672790e-01,
        -2.29814197e+00,  1.32085417e+00,  1.00000000e+00,
         1.90000000e+01,  3.62281268e-01],
       [ 9.62642107e-01,  8.51286173e-01, -3.58383473e-01,
         1.24206527e+00,  1.01047016e+00,  1.00000000e+00,
         2.00000000e+01,  8.19483915e-01],
       [ 9.94673042e-01,  1.83833220e-01, -1.51929791e+00,
         1.41261154e+00,  1.36849868e+00,  1.00000000e+00,
         2.10000000e+01,  1.82853949e-01],
       [ 7.48374819e-01, -6.57938982e-01, -5.96886564e-01,
        -1.69323427e+00,  7.16710335e-01,  1.00000000e+00,
         2.20000000e+01, -4.92384967e-01],
       [ 2.93816076e-01, -1.22400511e+00, -9.37397515e-01,
         7.76830002e-01, -2.06763022e+00,  1.00000000e+00,
         2.30000000e+01, -3.59632378e-01],
       [ 3.36788742e-01,  1.44197899e+00, -3.57582300e-01,
        -9.60589206e-01,  5.55070839e-02,  1.00000000e+00,
         2.40000000e+01,  4.85642291e-01],
       [-5.58417941e-01,  3.50762194e-01,  5.58986340e-02,
        -2.83081846e-01,  3.12124570e-01,  1.00000000e+00,
         2.50000000e+01, -1.95871902e-01],
       [ 1.07779100e+00,  1.13775781e+00,  1.59626282e+00,
        -1.26847809e+00, -2.40810722e-01,  1.00000000e+00,
         2.60000000e+01,  1.22626513e+00],
       [-1.08053319e+00,  2.10860421e+00, -4.60982354e-01,
        -1.74633905e-01, -1.15832892e-01,  1.00000000e+00,
         2.70000000e+01, -2.27841684e+00],
       [-2.55924429e-01,  4.34556938e-01,  1.17625692e-03,
        -3.10353686e+00,  2.30057438e-01,  1.00000000e+00,
         2.80000000e+01, -1.11213736e-01],
       [-1.25554657e+00,  2.47106709e-01,  6.66567659e-01,
         1.26176079e-01,  9.86306286e-02,  1.00000000e+00,
         2.90000000e+01, -3.10253982e-01],
       [ 1.22786574e+00, -1.30708437e+00, -1.07664870e+00,
         2.16185293e+00,  1.79588797e+00,  1.00000000e+00,
         3.00000000e+01, -1.60492413e+00],
       [-2.77502651e+00,  7.72586044e-01,  3.44084386e-01,
         1.96345014e-01, -1.01896875e+00,  1.00000000e+00,
         3.10000000e+01, -2.14394676e+00],
       [-4.03500789e-02, -2.24758218e+00, -3.71992953e-01,
         8.72753395e-02, -1.79575872e+00,  1.00000000e+00,
         3.20000000e+01,  9.06901183e-02],
       [-1.35734435e+00,  1.89333727e-01,  1.50369809e-01,
         1.50665376e-01,  2.61024362e-01,  1.00000000e+00,
         3.30000000e+01, -2.56991065e-01],
       [-2.08846355e-01, -6.02902392e-01, -1.67904633e+00,
        -1.67405886e-01, -3.14980750e-01,  1.00000000e+00,
         3.40000000e+01,  1.25913967e-01],
       [-1.24928798e+00,  6.15789828e-01,  2.70752126e-01,
        -2.27488578e+00,  1.16446352e+00,  1.00000000e+00,
         3.50000000e+01, -7.69298833e-01],
       [ 5.88713027e-01, -8.19458261e-02, -2.15741203e-01,
         5.61015701e-01,  1.49223816e+00,  1.00000000e+00,
         3.60000000e+01, -4.82425754e-02],
       [-1.46999486e+00,  1.44521329e+00, -8.89884730e-01,
         2.54022985e-01,  8.01797472e-01,  1.00000000e+00,
         3.70000000e+01, -2.12445612e+00],
       [-8.68497055e-01,  6.34580055e-01, -9.21904145e-01,
        -5.81550484e-01,  1.38064554e+00,  1.00000000e+00,
         3.80000000e+01, -5.51130909e-01],
       [ 1.02205382e+00, -1.60156106e-01,  1.07590559e-01,
        -6.65181061e-02, -3.06719575e-01,  1.00000000e+00,
         3.90000000e+01, -1.63688160e-01],
       [-4.50009493e-01,  3.51947466e-01,  2.26611055e-01,
         3.68395905e-01, -3.38278348e-01,  1.00000000e+00,
         4.00000000e+01, -1.58379701e-01],
       [-3.96573087e-01,  1.21780403e-01, -5.96354873e-01,
         1.07560596e+00,  1.72745125e-01,  1.00000000e+00,
         4.10000000e+01, -4.82948303e-02],
       [ 5.64007153e-03,  5.00346438e-01,  1.54272006e+00,
         1.78613485e-01,  6.22311199e-01,  1.00000000e+00,
         4.20000000e+01,  2.82198970e-03],
       [ 3.77056147e-01, -2.73439418e-01, -1.54688084e+00,
         9.81560566e-01, -2.05703653e-01,  1.00000000e+00,
         4.30000000e+01, -1.03102013e-01],
       [ 3.61558436e-01,  1.14590353e+00, -7.47626940e-01,
        -5.94771404e-01, -1.93039578e+00,  1.00000000e+00,
         4.40000000e+01,  4.14311086e-01],
       [-3.71899569e-01, -1.19678853e+00, -1.23007553e+00,
         1.94416790e-01, -2.77738603e-01,  1.00000000e+00,
         4.50000000e+01,  4.45085139e-01],
       [-9.73622553e-01, -1.48385744e-01,  1.72134902e+00,
        -4.24075677e-01,  5.04325365e-01,  1.00000000e+00,
         4.60000000e+01,  1.44471707e-01],
       [ 4.00507828e-01,  1.15783299e+00, -1.81693382e+00,
         4.22558063e-01, -2.40737717e+00,  1.00000000e+00,
         4.70000000e+01,  4.63721176e-01],
       [ 3.76266647e-01,  4.26916775e-01, -5.31938462e-01,
        -1.34371985e+00, -2.03690232e-01,  1.00000000e+00,
         4.80000000e+01,  1.60634543e-01],
       [-9.80977520e-02,  1.24856254e+00, -1.27343613e-01,
        -8.26241010e-01,  1.62835734e+00,  1.00000000e+00,
         4.90000000e+01, -1.22481178e-01],
       [-1.04011668e-01,  5.63191756e-01, -2.76563347e-01,
        -2.59653196e+00,  1.48666587e-01,  1.00000000e+00,
         5.00000000e+01, -5.85785141e-02],
       [-4.44725284e-01, -2.55853610e-01, -5.66204550e-01,
        -1.83404950e+00, -1.19052506e+00,  1.00000000e+00,
         5.10000000e+01,  1.13784569e-01],
       [ 1.01903884e+00, -7.75221927e-01,  6.06499735e-01,
         8.11050761e-02, -2.93647306e-01,  1.00000000e+00,
         5.20000000e+01, -7.89981250e-01],
       [ 3.15197174e-02,  1.76007213e+00, -2.42009743e-01,
         4.80711673e-01,  7.37353303e-01,  1.00000000e+00,
         5.30000000e+01,  5.54769761e-02],
       [-7.08232064e-01, -3.25284102e-01,  1.04606393e+00,
         1.39713773e+00,  8.06717841e-01,  1.00000000e+00,
         5.40000000e+01,  2.30376631e-01],
       [-1.36171201e-01,  1.12450221e+00,  3.34120607e-01,
        -4.76750636e-01,  6.10292318e-01,  1.00000000e+00,
         5.50000000e+01, -1.53124816e-01],
       [ 6.40433762e-01,  1.13356347e+00,  1.59309039e+00,
        -5.85275493e-01, -7.65074259e-01,  1.00000000e+00,
         5.60000000e+01,  7.25972317e-01],
       [ 6.32602036e-01, -5.74250666e-01,  1.54741391e+00,
        -6.01215704e-01,  2.09686645e-01,  1.00000000e+00,
         5.70000000e+01, -3.63272140e-01],
       [ 3.48967605e-01,  5.80816353e-01, -2.83067043e-01,
        -3.39407481e-01,  1.38700179e+00,  1.00000000e+00,
         5.80000000e+01,  2.02686092e-01],
       [ 3.34523674e-04,  1.02722833e+00,  1.01799319e+00,
        -1.88501028e+00,  9.16150414e-01,  1.00000000e+00,
         5.90000000e+01,  3.43632197e-04]])

In [33]:
# transposta de um conjunto de dados

df.T

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-02-20,2019-02-21,2019-02-22,2019-02-23,2019-02-24,2019-02-25,2019-02-26,2019-02-27,2019-02-28,2019-03-01
A,1.279378,-1.923841,0.819105,0.092787,0.341919,1.229490,-0.632821,-1.916005,0.196397,0.937249,...,-0.104012,-0.444725,1.019039,0.031520,-0.708232,-0.136171,0.640434,0.632602,0.348968,0.000335
B,1.714901,-0.116341,1.664087,-0.525227,-0.715365,-0.653691,1.608482,0.089007,-1.427208,-0.662815,...,0.563192,-0.255854,-0.775222,1.760072,-0.325284,1.124502,1.133563,-0.574251,0.580816,1.027228
C,-2.748280,-0.753045,0.768960,0.244183,1.363344,-1.671514,-0.648588,1.035161,-0.196197,-1.231659,...,-0.276563,-0.566205,0.606500,-0.242010,1.046064,0.334121,1.593090,1.547414,-0.283067,1.017993
D,0.563366,0.921399,1.256874,1.970564,1.447022,0.340238,1.190914,1.117194,-1.891822,-1.109656,...,-2.596532,-1.834050,0.081105,0.480712,1.397138,-0.476751,-0.585275,-0.601216,-0.339407,-1.885010
E,-0.781734,-0.685622,0.197748,0.938943,1.215355,0.981580,0.240317,0.367738,0.493924,0.475241,...,0.148667,-1.190525,-0.293647,0.737353,0.806718,0.610292,-0.765074,0.209687,1.387002,0.916150
F,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
G,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,50.000000,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000
Produto,2.194007,0.223822,1.363062,-0.048734,-0.244597,-0.803707,-1.017881,-0.170539,-0.280300,-0.621223,...,-0.058579,0.113785,-0.789981,0.055477,0.230377,-0.153125,0.725972,-0.363272,0.202686,0.000344

## Combinando DataFrames

In [34]:
df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0,1,2,3])

In [35]:
df4 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                   'B': ['B4', 'B5', 'B6', 'B7'],
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']},
                  index=[4,5,6,7])

In [36]:
df5 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                   'B': ['B8', 'B9', 'B10', 'B11'],
                   'C': ['C8', 'C9', 'C10', 'C11'],
                   'D': ['D8', 'D9', 'D10', 'D11']},
                  index=[8,9,10,11])

In [37]:
# uma forma de concatenar

frames = [df3, df4, df5]

In [38]:
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,
     A   B   C   D
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7,
       A    B    C    D
 8    A8   B8   C8   D8
 9    A9   B9   C9   D9
 10  A10  B10  C10  D10
 11  A11  B11  C11  D11]

In [40]:
type(frames)

list

In [42]:
# alterando o frames e transformando a lista

framescombinados = pd.concat(frames)
framescombinados

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [43]:
#melhor para trabalhar com dados combinados.

type(framescombinados)

pandas.core.frame.DataFrame

In [46]:
# outra forma de concatenar os dados

grupo = pd.concat([df3, df4, df5], keys=['f1', 'f2', 'f3'])
grupo

         A    B    C    D
f1 0    A0   B0   C0   D0
   1    A1   B1   C1   D1
   2    A2   B2   C2   D2
   3    A3   B3   C3   D3
f2 4    A4   B4   C4   D4
   5    A5   B5   C5   D5
   6    A6   B6   C6   D6
   7    A7   B7   C7   D7
f3 8    A8   B8   C8   D8
   9    A9   B9   C9   D9
   10  A10  B10  C10  D10
   11  A11  B11  C11  D11

In [47]:
# filtrando pela chave

grupo.loc['f2']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [48]:
# outra forma de concatenação

g2 =  df3.append(df4).append(df5)
g2

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11