# Manipulação de Dados com Pandas - Python

In [1]:
import pandas as pd
import numpy as np

In [2]:
series = ([7,4,2,np.nan,6,9])
series

[7, 4, 2, nan, 6, 9]

In [3]:
type(series)

list

In [4]:
# obtendo datas

data = pd.date_range('20180101', periods = 6)

In [5]:
data

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
# criando um dataframe com números aleatórios e usando as datas criadas anteiormente

df = pd.DataFrame(np.random.randn(6,4), index = data, columns = list('ABCD'))

# randn(6,4), ou seja, chamamos 6 linnhas e 4 colunas com números random, colocando como index a data que criamos anteriormente

In [8]:
df

                   A         B         C         D
2018-01-01 -1.083591 -0.849522  0.439021 -1.771952
2018-01-02  0.722090  0.645839  0.602345 -0.248874
2018-01-03 -0.505782  0.189015  0.014541 -0.841502
2018-01-04  0.950462  0.365604 -0.930167  0.470656
2018-01-05 -0.263711  0.208123 -0.258834 -0.161585
2018-01-06  0.488903 -1.009880  2.079230 -0.484692

In [10]:
# vendo o tipo

type(df)

pandas.core.frame.DataFrame

In [11]:
#outra forma de criar um dataframe

df2 = pd.DataFrame({'A': 7,
                   'B': pd.Timestamp('20190101'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([3] * 4, dtype='int32'),
                   'E': pd.Categorical(['test', 'train', 'test', 'train']),
                   'F': 'Python'})

In [12]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Criando um Terceiro DataFrame

In [18]:
data = pd.date_range('20190101', periods = 60, freq='D')

df = pd.DataFrame(np.random.randn(60,5), index = data, columns = list('ABCDE'))

In [19]:
df

                   A         B         C         D         E
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241
2019-01-11  0.421773 -0.996865 -0.216583  0.276499  0.517859
2019-01-12 -1.326881 -0.689318 -0.985141  1.725915 -2.171507
2019-01-13  0.730684  0.385290  1.428869  1.406253  1.055421
2019-01-14  0.217166 -1.126701 -1.638837 -1.448797 -1.071401
2019-01-15  0.625569  0.375817 -1.898931 -0.131348  1.234974
2019-01-16 -0.876467  0.514731 -0.117962  0.002141 -0.331372
2019-01-17  1.232721 -0.642777  0.007149 -0.177390 -1.606766
2019-01-18  0.006981  1.317063 -1.056490  0.955877  0.601103
2019-01-19 -0.388965 -0.873431  0.210814 -0.150696 -0.249674
2019-01-20 -0.549506 -0.659286 -0.783673 -2.298142  1.320854
2019-01-21  0.962642  0.851286 -0.358383  1.242065  1.010470
2019-01-22  0.994673  0.183833 -1.519298  1.412612  1.368499
2019-01-23  0.748375 -0.657939 -0.596887 -1.693234  0.716710
2019-01-24  0.293816 -1.224005 -0.937398  0.776830 -2.067630
2019-01-25  0.336789  1.441979 -0.357582 -0.960589  0.055507
2019-01-26 -0.558418  0.350762  0.055899 -0.283082  0.312125
2019-01-27  1.077791  1.137758  1.596263 -1.268478 -0.240811
2019-01-28 -1.080533  2.108604 -0.460982 -0.174634 -0.115833
2019-01-29 -0.255924  0.434557  0.001176 -3.103537  0.230057
2019-01-30 -1.255547  0.247107  0.666568  0.126176  0.098631
2019-01-31  1.227866 -1.307084 -1.076649  2.161853  1.795888
2019-02-01 -2.775027  0.772586  0.344084  0.196345 -1.018969
2019-02-02 -0.040350 -2.247582 -0.371993  0.087275 -1.795759
2019-02-03 -1.357344  0.189334  0.150370  0.150665  0.261024
2019-02-04 -0.208846 -0.602902 -1.679046 -0.167406 -0.314981
2019-02-05 -1.249288  0.615790  0.270752 -2.274886  1.164464
2019-02-06  0.588713 -0.081946 -0.215741  0.561016  1.492238
2019-02-07 -1.469995  1.445213 -0.889885  0.254023  0.801797
2019-02-08 -0.868497  0.634580 -0.921904 -0.581550  1.380646
2019-02-09  1.022054 -0.160156  0.107591 -0.066518 -0.306720
2019-02-10 -0.450009  0.351947  0.226611  0.368396 -0.338278
2019-02-11 -0.396573  0.121780 -0.596355  1.075606  0.172745
2019-02-12  0.005640  0.500346  1.542720  0.178613  0.622311
2019-02-13  0.377056 -0.273439 -1.546881  0.981561 -0.205704
2019-02-14  0.361558  1.145904 -0.747627 -0.594771 -1.930396
2019-02-15 -0.371900 -1.196789 -1.230076  0.194417 -0.277739
2019-02-16 -0.973623 -0.148386  1.721349 -0.424076  0.504325
2019-02-17  0.400508  1.157833 -1.816934  0.422558 -2.407377
2019-02-18  0.376267  0.426917 -0.531938 -1.343720 -0.203690
2019-02-19 -0.098098  1.248563 -0.127344 -0.826241  1.628357
2019-02-20 -0.104012  0.563192 -0.276563 -2.596532  0.148667
2019-02-21 -0.444725 -0.255854 -0.566205 -1.834050 -1.190525
2019-02-22  1.019039 -0.775222  0.606500  0.081105 -0.293647
2019-02-23  0.031520  1.760072 -0.242010  0.480712  0.737353
2019-02-24 -0.708232 -0.325284  1.046064  1.397138  0.806718
2019-02-25 -0.136171  1.124502  0.334121 -0.476751  0.610292
2019-02-26  0.640434  1.133563  1.593090 -0.585275 -0.765074
2019-02-27  0.632602 -0.574251  1.547414 -0.601216  0.209687
2019-02-28  0.348968  0.580816 -0.283067 -0.339407  1.387002
2019-03-01  0.000335  1.027228  1.017993 -1.885010  0.916150

In [20]:
# vendo a dimensão do dataframe

df.shape

(60, 5)

## Inserindo uma Nova Coluna

In [21]:
df['F'] = 1

In [22]:
df.head(10)

                   A         B         C         D         E  F
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734  1
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622  1
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748  1
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943  1
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355  1
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580  1
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317  1
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738  1
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924  1
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241  1

In [23]:
# inserindo uma coluna com os valores seguindo uma sequência

df['G'] = range(60)

In [24]:
df.head(15)

                   A         B         C         D         E  F   G
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734  1   0
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622  1   1
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748  1   2
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943  1   3
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355  1   4
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580  1   5
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317  1   6
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738  1   7
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924  1   8
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241  1   9
2019-01-11  0.421773 -0.996865 -0.216583  0.276499  0.517859  1  10
2019-01-12 -1.326881 -0.689318 -0.985141  1.725915 -2.171507  1  11
2019-01-13  0.730684  0.385290  1.428869  1.406253  1.055421  1  12
2019-01-14  0.217166 -1.126701 -1.638837 -1.448797 -1.071401  1  13
2019-01-15  0.625569  0.375817 -1.898931 -0.131348  1.234974  1  14

In [25]:
# criando uma coluna 'produto'

df['Produto'] = df['A'] * df['B']

In [26]:
df.head(10)

                   A         B         C         D         E  F  G   Produto
2019-01-01  1.279378  1.714901 -2.748280  0.563366 -0.781734  1  0  2.194007
2019-01-02 -1.923841 -0.116341 -0.753045  0.921399 -0.685622  1  1  0.223822
2019-01-03  0.819105  1.664087  0.768960  1.256874  0.197748  1  2  1.363062
2019-01-04  0.092787 -0.525227  0.244183  1.970564  0.938943  1  3 -0.048734
2019-01-05  0.341919 -0.715365  1.363344  1.447022  1.215355  1  4 -0.244597
2019-01-06  1.229490 -0.653691 -1.671514  0.340238  0.981580  1  5 -0.803707
2019-01-07 -0.632821  1.608482 -0.648588  1.190914  0.240317  1  6 -1.017881
2019-01-08 -1.916005  0.089007  1.035161  1.117194  0.367738  1  7 -0.170539
2019-01-09  0.196397 -1.427208 -0.196197 -1.891822  0.493924  1  8 -0.280300
2019-01-10  0.937249 -0.662815 -1.231659 -1.109656  0.475241  1  9 -0.621223